---
landing: Departments
layout: landing
pagination:
    data: state_entity.agencies
    size: 1
    alias: item
    addAllPagesToCollections : true
permalink: "department/{{ item.AgencyId }}/"
eleventyComputed: 
  description: Department details for "{{ item.AgencyFullName }}"
  title: "{{ item.FriendlyName }} ({{ item.Acronym }})"
  keywords: "{{ item.Keywords}}"
  eleventyNavigation:
    key: "Department{{ item.AgencyId }}"
    title:  "{{ item.AgencyFullName }}"
    parent: Departments
---

<!-- Begin Structured Data -->
<script type="application/ld+json">
  {{
    item.structuredData | dump | safe
  }}
</script>
<!-- End Structured Data -->

<div
  class="section-understated"
  style="background-image: url('/images/departments-lineart.svg'); background-repeat:no-repeat; background-position:right;">
  <div class="container p-y-md">
    {%- include "breadcrumbs.html" -%}
    <h1 class="m-t-0 color-p2">{{title}}</h1>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3 pb-lg-5 side-navigation sticky-6" role="complementary">
      {% if item.LogoUrl %}
      <img
        src="{{item.structuredData.logo}}"
        class="img-fluid"
        style="aspect-ratio: 1 / 1; object-fit: contain;"
        alt="{{agency.FriendlyName}} logo" />
      {% endif %}
    </div>
    <div class="col-lg-9">
      <h2 class="mt-lg-0">Contact</h2>
      <ul>
        {% if item.ContactEmail %}
        <li>
          <span class="bold">Email:</span>
          <a href="mailto:{{item.ContactEmail}}">{{item.ContactEmail}}</a>
        </li>
        {% endif %} {% if item.ContactPhone %}
        <li>
          <span class="bold">Phone:</span>
          <a href="tel:{{item.ContactPhone}}">{{item.ContactPhone}}</a>
        </li>
        {% endif %}
      </ul>
      <a
        class="btn btn-outline-primary btn-lg m-r-sm"
        href="{{item.WebsiteURL}}">
        Department website
      </a>
      <a href="{{item.ContactURL}}/" class="btn btn-outline-primary btn-lg">
        More contact info
      </a>
      <hr class="m-t-md" />

      <h2 class="m-t-md">Description</h2>
      <p class="m-b-lg">{{item.Description}}</p>

      {% for service in state_entity.services | pluck('AgencyId',item.AgencyId)
      -%} {%- if loop.first -%}
      <h2>Services</h2>
      {% endif %}
      <p class="lead bold">
        <a href="{{ service.ServiceUrl }}">{{service.ServiceName}}</a>
      </p>
      <p class="service-description">{{service.Description}}</p>
      <a
        class="btn btn-outline-primary btn-lg m-r-sm"
        href="./service/{{ service.ServiceId }}/">
        More details
        <span class="sr-only">about {{service.ServiceName}} service</span>
      </a>

      {%- if not loop.last -%}
      <hr class="m-b-lg" />
      {%- endif -%} {% endfor %} {%- for service in state_entity.services |
      pluck('AgencyId',item.AgencyId) -%} {%- for qa in service.QA |
      pluck('Featured',true) -%} {%- if loop.first %}
      <hr class="m-b-lg" />
      <h3 class="mt-lg-9">Frequently Asked Questions</h3>
      {%- endif %}
      <cagov-accordion>
        <details>
          <summary>{{qa.Question}}</summary>
          <div class="accordion-body">
            {{ qa.Answer | safe }}

            <p>
              <a
                class="btn btn-outline-primary btn-lg m-r-sm"
                href="./service/{{ service.ServiceId }}/">
                More details
                <span class="sr-only"
                  >about {{service.ServiceName}} service</span
                >
              </a>
            </p>
          </div>
        </details>
      </cagov-accordion>
      {%- endfor %} {%- endfor %}
    </div>
  </div>
</div>
