<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- in case the mime type already exist in IIS -->
      <clientCache cacheControlCustom="public, max-age=8640000, immutable" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <!-- Below block is for custom redirect for 404 error to 404.html -->
    <httpErrors existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" />
      <remove statusCode="400" />
      <error statusCode="400" path="404.html" />
    </httpErrors>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="410Removals" defaultValue="">
          <add key="/website-feedback/" value="foo" />
        </rewriteMap>
        <rewriteMap name="FullUriMatch" defaultValue="">
          <add key="/accessibility/" value="/legal/accessibility/" />
          <add key="/accessibility/website-accessibility-certification.html" value="/legal/accessibility/" />
          <add
            key="/documents/WebsiteAccessibilityCert-ca.gov.pdf"
            value="/images/WebsiteAccessibilityCert-ca.gov.pdf" />
          <add key="/agenciesall" value="/departments/list/" />
          <add key="/agenciesall/" value="/departments/list/" />
          <add key="/agencysearch/" value="/departments/all/" />
          <!-- <add key="/contact" value="" /> -->
          <add key="/doingbusiness/" value="/topics/businesses/" />
          <add key="/government/" value="/topics/laws-info/" />
          <add key="/help/" value="/support/technical-help/" />
          <add key="/learning/" value="/topics/education/" />
          <add key="/living/" value="/topics/personal-records/" />
          <add key="/privacy-policy/" value="/legal/privacy-policy/" />
          <add key="/serp/" value="/search/" />
          <add key="/sitemap/" value="/about/sitemap/" />
          <add key="/use/" value="/legal/conditions-of-use/" />
          <add key="/visiting/" value="/topics/recreation/" />
          <add key="/working/" value="/topics/jobs/" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Production Robots">
          <match url="robots.txt" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_X_FORWARDED_HOST}" pattern="^www\.ca\.gov$" />
            <add input="{HTTP_HOST}" pattern="^www\.ca\.gov$" />
          </conditions>
          <action type="Rewrite" url="robots-prod.txt" />
        </rule>
        <rule name="LegacyServiceAgencyRedirect" stopProcessing="true">
          <match url="^(service|agency)\/?$" />
          <action type="Rewrite" url="legacyhandler.ashx?path={R:1}" appendQueryString="true" />
        </rule>
        <rule name="FullUriMatch Rule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{FullUriMatch:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="False" />
        </rule>
        <rule name="410Removals Rule" stopProcessing="true">
          <conditions>
            <add input="{410Removals:{REQUEST_URI}}" pattern=".+" />
          </conditions>
          <action
            type="CustomResponse"
            statusCode="410"
            statusReason="Gone"
            statusDescription="Gone. The requested resource is no longer available." />
        </rule>
        <rule name="410 for requests with Chinese characters in query string" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <!-- Match any pattern with 3 "%" values separated by any two characters (eg. %27%27%) -->
            <!-- Eliminates chinese chars and emojee -->
            <add input="{QUERY_STRING}" pattern=".*%..%..%.*" />
          </conditions>
          <action
            type="CustomResponse"
            statusCode="410"
            statusReason="Gone"
            statusDescription="Invalid Characters. The requested resource is no longer available." />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS">
          <!-- Preload HSTS here ... https://hstspreload.org/ -->
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>

        <rule name="Remove Cache-Control for HTML">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.html$" />
          </conditions>
          <action type="Rewrite" value="public, max-age=1800" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="frame-ancestors 'self' *.ca.gov" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="lafires">
    <system.webServer>
      <httpErrors existingResponse="Replace">
        <remove statusCode="404" />
        <error statusCode="404" path="404-lafires.html" />
      </httpErrors>
    </system.webServer>
  </location>
</configuration>
