<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- in case the mime type already exist in IIS -->
      <clientCache cacheControlCustom="public, max-age=8640000, immutable" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <!-- Below block is for custom redirect for 404 error to 404.html -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404handler.ashx" responseMode="ExecuteURL" />
      <remove statusCode="410" />
      <error statusCode="410" path="410.html" />
      <remove statusCode="400" />
      <error statusCode="400" path="404.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Production Robots">
          <match url="robots.txt" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_X_FORWARDED_HOST}" pattern="^www\.ca\.gov$" />
            <add input="{HTTP_HOST}" pattern="^www\.ca\.gov$" />
          </conditions>
          <action type="Rewrite" url="robots-prod.txt" />
        </rule>
        <rule name="Return 410 for /serp*" stopProcessing="true">
          <match url="^serp.*" />
          <action
            type="CustomResponse"
            statusCode="410"
            statusReason="Gone"
            statusDescription="This legacy search page has been removed." />
        </rule>
        <rule name="LegacyServiceAgencyRedirect" stopProcessing="true">
          <match url="^(service|agency|agencies)/.*$" />
          <action type="Rewrite" url="legacyhandler.ashx?path={R:0}" appendQueryString="true" />
        </rule>
        <rule name="410 for requests with Chinese characters in query string" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Exclude requests starting with /search/?q= -->
            <add input="{REQUEST_URI}" pattern="^/search/\?q=" negate="true" />
            <!-- Match any pattern with 3 "%" values separated by any two characters -->
            <!-- Eliminates chinese chars and emojee -->
            <add input="{QUERY_STRING}" pattern=".*%..%..%.*" />
          </conditions>
          <action
            type="CustomResponse"
            statusCode="410"
            statusReason="Gone"
            statusDescription="Invalid Characters. The requested resource is no longer available." />
        </rule>
        <!-- Begin LA fires custom redirects -->
        <rule name="Redirect Images Lafires" stopProcessing="true">
          <match url="^images/lafires/(.*)" />
          <action type="Redirect" url="/lafires/images/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Disaster Recovery Checklist" stopProcessing="true">
          <match url="^(docs|images)/disaster-recovery-center-checklist(.*)" />
          <action
            type="Redirect"
            url="/lafires/docs/disaster-recovery-center-checklist{R:2}"
            appendQueryString="true"
            redirectType="Permanent" />
        </rule>
        <rule name="Redirect Resources for Californians" stopProcessing="true">
          <match url="^images/(recursos-para-los-californianos|resources for californians)(.*)" />
          <action type="Redirect" url="/lafires/docs/{R:1}{R:2}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!-- End LA fires custom redirects -->

        <rule name="Redirect Index Files at any level to path" stopProcessing="true">
          <match url="(^|.*/)(index\.[^/]+)$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>

        <rule name="Redirect security.txt to well-known" stopProcessing="true">
          <match url="^security\.txt$" />
          <action type="Redirect" url="/.well-known/security.txt" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS">
          <!-- Preload HSTS here ... https://hstspreload.org/ -->
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>

        <rule name="Remove Cache-Control for HTML">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.html$" />
          </conditions>
          <action type="Rewrite" value="public, max-age=1800" />
        </rule>

        <rule name="Noindex Sitemap XMLs">
          <match serverVariable="RESPONSE_X-Robots-Tag" pattern=".*" />
          <conditions>
            <add input="{URL}" pattern="^/sitemaps/.+\.xml$" />
          </conditions>
          <action type="Rewrite" value="noindex" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="frame-ancestors 'self' *.ca.gov" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
