---
layout: null
permalink: "css/custom.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
{%- include "../../src/css/fonts.css" -%}
{%- include "../../src/css/custom.css" -%}
{%- endset -%}
{{- css | safe -}}
