<!-- BEGIN Google Analytics -->
<script>
  (function () {
    var myGTM = "GTM-PZGPNNV"; // www.ca.gov
    var loadGTM = function () {
      (function(w,d,s,l){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s);j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+myGTM;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer');
    };

    if ('requestIdleCallback' in window) {
      requestIdleCallback(loadGTM);
    } else {
      setTimeout(loadGTM, 200); // fallback for older browsers
    }
  })();
</script>

<!-- END Google Analytics -->
