<!-- Breadcrumbs component -->
<nav aria-label="You are here" class="breadcrumbs">
  {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, {
  includeSelf: true }) |
  eleventyNavigationToHtml({listElement:"ol",activeKey:eleventyNavigation.key,activeAnchorClass:"active"})
  | safe }}
</nav>
