{#-
<!--
  usage...
---
dynamic_sidenavid: service
---

{%-include "dynamic-sidenav.html"-%}
-->
-#} {%-set sidenav = dynamic_sidenav[dynamic_sidenavid]-%}

<!-- Side navigation -->
<nav aria-labelledby="navigation-list" id="side-navigation">
  <ul class="list-navigation">
    {%- for link in sidenav %}
    <li>
      <a
        href="{{-link.href-}}"
        {%-if
        link.href
        in
        page.url%}
        active
        class="active landing"
        aria-current="page"
        tabindex="-1"
        {%-endif-%}>
        {{-link.text | safe-}}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>
