{#-
<!--
  usage...
---
dynamic_sidenavid: service
---

{%-include "dynamic-sidenav.html"-%}
-->
-#} {%-set sidenav = dynamic_sidenav[dynamic_sidenavid]-%}

<!-- Side navigation -->
<nav class="side-navigation sticky-6">
  <a href="javascript:;" aria-hidden="true" class="d-none">{{title}}</a>
  <ul class="list-navigation">
    {%- for link in sidenav %} {%- set href = link.href -%} {%- set active =
    href === page.url -%} {% if not link.indent %}
    <li>
      <a
        href="{{-href-}}"
        {%-if
        active%}
        class="active landing"
        aria-current="page"
        tabindex="-1"
        {%-endif-%}>
        {{-link.text | safe-}}
      </a>
    </li>
    {% else %}
    <li>
      <ul>
        <li>
          <a
            href="{{-href-}}"
            {%-if
            active%}
            class="active landing"
            aria-current="page"
            tabindex="-1"
            {%-endif-%}>
            {{-link.text | safe-}}
          </a>
        </li>
      </ul>
    </li>
    {% endif %} {%- endfor %}
  </ul>
</nav>
