<!-- Global Footer structural component -->
<footer id="footer" class="global-footer">
  <div class="container">
    <div class="d-flex">
      <a href="https://www.ca.gov" class="cagov-logo d-print-none">
        <img
          src="/images/cagov-logo-flag-gradient.svg?v7F3A"
          alt="CA.gov icon"
          style="aspect-ratio:43/27"
          loading="lazy" />
      </a>
      <ul class="footer-links d-print-none">
        <li>
          <a href="/legal/conditions-of-use/">{{ 'conditions_of_use' | i18n }}</a>
        </li>
        <li>
          <a href="/legal/privacy-policy/">{{ 'privacy_policy' | i18n }}</a>
        </li>
        <li>
          <a href="/legal/accessibility/">{{ 'accessibility' | i18n }}</a>
        </li>
        <li>
          <a href="/about/sitemap/">{{ 'sitemap' | i18n }}</a>
        </li>
      </ul>

      <p class="text-right copyright">
        &copy;
        <span id="thisyear">
          <script>
            document.getElementById('thisyear').appendChild(document.createTextNode(new Date().getFullYear()))
          </script>
        </span>
        {{ 'state_of_california' | i18n }}
      </p>
    </div>
  </div>
  <button class="return-top">
    <span class="sr-only">{{ 'back_to_top' | i18n }}</span>
  </button>
</footer>
