<!-- Public Sans Font-->
<link rel="preconnect" href="https://cdn.cdt.ca.gov" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<!-- End Public Sans Font -->

<!-- State Web template required CSS -->
<!-- <link
  rel="stylesheet"
  href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/css/cagov.core.min.css"
  integrity="sha256-f2k3x0x/l4G+mg5fxnV+Q37/8RoMOoMOWphHJ4vWn6g="
  crossorigin="anonymous" /> -->
<link rel="stylesheet" href="/css/stateTemplate.min.css?voct25" />
<link rel="stylesheet" href="/css/custom.min.css?voct25" />
<!-- <script
  src="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/js/cagov.core.min.js"
  integrity="sha256-MRHAOqwc4jjHeTGa/9mcdxAv3aVG+lQ7eJ9DPa+Gr/k="
  crossorigin="anonymous"
  defer></script> -->
<script src="/js/stateTemplate.min.js?voct25" defer></script>
<script src="/js/custom.min.js?vJuly2025a" type="module" defer></script>
{%- if data_agency %}
<script src="/js/data_agency.min.js?dv{% DateHex %}"></script>
{% endif -%} {%- if data_service %}
<script src="/js/data_service.min.js?dv{% DateHex %}"></script>
{% endif -%}

<!-- Site icons -->
<link
  rel="apple-touch-icon-precomposed"
  sizes="100x100"
  href="/images/apple-touch-icon-precomposed.png" />
<link rel="icon" sizes="192x192" href="/images/apple-touch-icon-192x192.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="180x180"
  href="/images/apple-touch-icon-180x180.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="152x152"
  href="/images/apple-touch-icon-152x152.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="144x144"
  href="/images/apple-touch-icon-144x144.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="120x120"
  href="/images/apple-touch-icon-120x120.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="114x114"
  href="/images/apple-touch-icon-114x114.png" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="72x72"
  href="/images/apple-touch-icon-72x72.png" />
<link
  rel="apple-touch-icon-precomposed"
  href="/images/apple-touch-icon-57x57.png" />
<link rel="shortcut icon" href="/images/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
<link rel="shortcut icon" href="/favicon.ico" />
<!-- Google analytics -->
{% include "analytics.html" -%} {%- if not hidestatewidealert %}
<!-- Statewide Alerts Server -->
<script defer src="https://alert.cdt.ca.gov" crossorigin="anonymous"></script>
{%- endif %}
