<style>
  @media (min-width: 992px) {
    #head-search {
      display: none;
    }
  }
  @media (width >= 1200px) {
    div.la-fires-container {
      margin-top: -70px;
    }
  }
</style>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "GovernmentOrganization",
    "name": "State of California",
    "url": "https://www.ca.gov",
    "alternateName": "California State Government",
    "logo": "https://www.ca.gov/images/ca-gov-organization-logo.png"
  }
</script>
