<cagov-accordion>
  <details>
    <summary class="brd-solid-1 brd-gray-200">Filter by topic</summary>
    <div class="accordion-body topic-filters brd-solid-1 brd-gray-200 p-a">
      <fieldset>
        <legend class="m-y font-size-16">
          Select topics to help you find what you need:
        </legend>
        {%- for topic in topics | sortBy("featureOrder") %}
        <div class="form-check m-b-sm">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{topic.name}}"
            name="AgencyTags"
            id="chkTopic{{-topic.topicId-}}" />
          <label class="form-check-label" for="chkTopic{{-topic.topicId-}}">
            {{topic.name}}
            <span>
              ({{(state_entity[side_filter_data] |
              pluck("AgencyTags",topic.name,"includes")).length }})
            </span>
          </label>
        </div>
        {%- endfor %}
      </fieldset>
      <hr />
      <button
        type="reset"
        class="btn btn-sm btn-default js-filter-clear resetSearch d-block"
        onclick="this.parentElement.querySelectorAll('input:checked').forEach(x => x.click())">
        Reset
      </button>
    </div>
  </details>
</cagov-accordion>
