<!-- Site header (branding) structural component -->
<div class="section-default">
  <div class="branding">
    <div class="header-organization-banner">
      <a href="/">
        <div class="logo-assets">
          <img
            src="/images/ca-gov-logo.svg"
            class="logo-img"
            alt="State Template Logo" />
          <div class="logo-text ps-md-3 mt-2">
            <span class="logo-state color-primary">Official website</span>
            <span class="logo-dept color-primary pos-rel"
              >State of California</span
            >
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
