<!-- Utility header structural component -->
<div class="utility-header d-print-none" data-nosnippet>
  <div class="container">
    <div class="flex-row">
      <div class="social-media-links align-items-start">
        <div class="official-collapsible-content">
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOficial"
            aria-expanded="false"
            aria-controls="collapseOficial"
            class="btn-official mt-1 gray-900 color-black-hover">
            <span class="underline">{{ 'official_california_website' | i18n(locale) }}</span>
            <span class="ca-gov-icon-caret-up" aria-hidden="true"></span>
            <span class="ca-gov-icon-caret-down" aria-hidden="true"></span>
          </button>
          <div class="collapse" id="collapseOficial">
            <div class="font-size-13 gray-900 p-y ps-1 pe-2">
              <span class="bold"
                >{{ 'cagov_promo_1' | i18n }}</span
              ><br />{{ 'cagov_promo_2' | i18n }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="settings-links ms-auto align-items-start pt-2 line-height-1-6em">
        <a
          href="{{ page | pagePath('/lafires/') }}"
          lang="en"
          hreflang="en"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('en', locale) }}"
          class="m-l-0 underline cursor-pointer"
          >English</a>
        <a
          href="{{ page | pagePath('/lafires/es/') }}"
          lang="es"
          hreflang="es"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('es', locale) }}"
          class="underline cursor-pointer"
          >Español</a>
        <a
          href="{{ page | pagePath('/lafires/ko/') }}"
          lang="ko"
          hreflang="ko"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('ko', locale) }}"
          class="underline cursor-pointer"
          >한국어</a>

        {% if is_development %}
        <a
          href="{{ page | pagePath('/lafires/fr/') }}"
          lang="fr"
          hreflang="fr"
          translate="no"
          rel="alternate"
          class="underline cursor-pointer"
          data-active="{{ page | langPathActive('fr', locale) }}"
          class="underline cursor-pointer"
          >Français</a><!-- french for development builds -->
        {% endif %}

        <a
          href="{{ page | pagePath('/lafires/tl/') }}"
          lang="tl"
          hreflang="tl"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('tl', locale) }}"
          class="underline cursor-pointer"
          >Tagalog</a>
        <a
          href="{{ page | pagePath('/lafires/vi/') }}"
          lang="vi"
          hreflang="vi"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('vi', locale) }}"
          class="underline cursor-pointer"
          >Tiếng Việt</a>
        <a
          href="{{ page | pagePath('/lafires/zh-hans/') }}"
          lang="zh-hans"
          hreflang="zh-hans"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('zh-hans', locale) }}"
          class="underline cursor-pointer"
          >简体中文</a>
        <a
          href="{{ page | pagePath('/lafires/zh-hant/') }}"
          lang="zh-hant"
          hreflang="zh-hant"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('zh-hant', locale) }}"
          class="underline cursor-pointer"
          >繁體中文</a>
        <a
          href="{{ page | pagePath('/lafires/hy/') }}"
          lang="hy"
          hreflang="hy"
          translate="no"
          rel="alternate"
          data-active="{{ page | langPathActive('hy', locale) }}"
          class="underline cursor-pointer"
          >Հայերեն</a>
        {# 
        <a class="translate notranslate pos-rel top-minus-2" href="/translate/"
          ><span class="ca-gov-icon-globe" aria-hidden="true"></span
          ><span class="sr-only">{{ 'translate' | i18n }}</span></a
        >
        #}
      </div>
    </div>
  </div>
</div>
