<!-- Utility header structural component -->
<div class="utility-header">
  <div class="container">
    <div class="flex-row">
      <div class="social-media-links align-items-start">
        <img
          src="/images/apple-touch-icon.png"
          class="width-30 height-30 me-2 mt-1"
          alt="CA.gov brand icon" />
        <div class="official-collapsible-content">
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOficial"
            aria-expanded="false"
            aria-controls="collapseOficial"
            class="btn-official mt-1 gray-900 color-black-hover">
            <span class="underline">Official California website</span>
            <span class="ca-gov-icon-caret-right" aria-hidden="true"></span>
          </button>
          <div class="collapse" id="collapseOficial">
            <div class="font-size-13 gray-900 p-y ps-1 pe-2">
              <span class="bold"
                >California government websites use .ca.gov </span
              ><br />A .ca.gov website is part of California’s government.
            </div>
          </div>
        </div>
      </div>
      <div class="settings-links ms-auto"></div>
    </div>
  </div>
</div>
