---
landing: Services
description: A detailed view of California’s state services.
title: All services
layout: landing
dynamic_sidenavid: service
side_filter_data: services
---

<div
  class="section-understated lineart"
  style="background-image: url('/images/services-lineart.svg'); background-repeat:no-repeat; background-position:right;">
  <div class="container p-y-md">
    {%- include "breadcrumbs.html" -%}
    <h1 class="m-t-0">{{title}}</h1>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3 pb-lg-5 sticky-6 h-100 p-b-md">
      {%-include "dynamic-sidenav.html"-%}
    </div>
    <div class="col-lg-9">
      <h2 class="lead m-t items-count font-weight-500" aria-live="polite">
        0 services <span class="sr-only">found</span>
      </h2>
      <label class="sr-only" for="searchbox">Search for a service</label>
      <div class="d-flex m-b">
        <input
          type="search"
          id="searchbox"
          autofocus
          placeholder="Search for a service"
          class="height-50 brd-solid-1 brd-color-light rounded-start flex-grow-1 p-l" />
        <button
          class="bg-gray-600 bg-gray-700-hover rounded-end brd-0 width-60">
          <span class="sr-only">Submit</span>
          <span
            class="ca-gov-icon-search font-size-25 color-white"
            aria-hidden="true"></span>
        </button>
      </div>

      <div class="p-b-lg">{%-include "side-filters.html"-%}</div>

      <cagovhome-filterlist
        data-search-input-id="searchbox"
        data-result-count-query=".items-count"
        data-filter-storage-key="service"
        data-row-filter-key="ServiceId"
        data-filter-trigger-selector='input[name="AgencyTags"]'>
        {%- for service in state_entity.services -%}
        <div data-row-key="{{service.ServiceId}}" class="pos-rel">
          <h2 class="lead bold m-t-0 m-b">
            <a
              href="/departments/{{ service.AgencyId }}/services/{{ service.ServiceId }}/"
              >{{service.ServiceName}}</a
            >
          </h2>
          <p class="font-size-14 bold m-t-sm">by {{service.FriendlyName}}</p>
          <p class="service-description">{{service.Description}}</p>
          <a
            class="btn btn-outline-primary btn-lg"
            href="{{ service.ServiceUrl }}">
            Launch
            <span class="sr-only">"{{service.ServiceName}}"</span> service</a
          >

          {%-set topicResults=[]%}{%for topic in
          topics|sortBy("featureOrder")%}{%if topic.name in
          service.AgencyTags%}{%set _=topicResults.push('<a
            href="/topics/'+topic.slug+'/"
            class="py-1"
            >'+topic.name+'</a
          >')%}{%endif%}{%endfor%}{%if topicResults.length%}
          <p class="font-size-14 m-t-md">
            Topics: {{topicResults.join(", ") | safe}}
          </p>
          {%-endif%}

          <hr class="m-y-md" />
        </div>
        {%- endfor %}
      </cagovhome-filterlist>
    </div>
  </div>
</div>
