<!doctype html>
<html lang="{{ pagelang }}">
  <head>
    <title>{% metatitle %}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="State of California" />
    <meta name="Description" content="{{ description }}" />
    <meta
      name="Keywords"
      content="California, California state, ca 175, California 175 years, California dreaming" />
    {%- if noindex %}
    <meta name="robots" content="noindex" />
    {% else %}
    <meta name="robots" content="index, follow" />
    {%- endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="{% metatitle %}" />

    <!-- Canonical link, improves SEO -->
    <link href="{% canonical %}" rel="canonical" />

    <!-- Open Graph / Facebook -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="175 years of California Dreaming" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% canonical %}" />
    <meta property="og:title" content="{% metatitle %}" />
    <meta property="og:description" content="{{ description }}" />
    <meta
      property="og:image"
      content="https://cdn.cdt.ca.gov/cdt/CAWeb/ca175-social.jpg" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{% canonical %}" />
    <meta name="twitter:title" content="{% metatitle %}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta
      name="twitter:image"
      content="https://cdn.cdt.ca.gov/cdt/CAWeb/ca175-social.jpg" />

    <!-- FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap"
      rel="stylesheet" />

    <!-- STYLES-->
    <link href="/css/175.css" rel="stylesheet" />
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="/js/175.js"></script>
  </head>
  <body style="margin:0px;">
    {% block content -%} {{ content | safe }} {%- endblock -%}
  </body>
</html>
