{%- extends "./base.html" -%} {%- block content -%}
<!-- Main content -->
<div id="main-content" class="main-content">
  <div class="container p-t-md p-b-lg">
    <div class="row">
      <div class="col-lg-10">
        <main class="main-primary" id="main">
          {# Breadcrumbs (rendering data from /src/_data/breadcrumbs.json and
          /src/_data/helpers.js -#} {%- include "../breadcrumbs.html" -%} {{
          content | safe }}
        </main>
      </div>
    </div>
  </div>
</div>
{%- endblock -%}
