---
layout: null
permalink: sitemaps/agency01.xml
eleventyExcludeFromCollections: true
---
{#- No space -#}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all | sortBy("url") -%}
    {%-if page.data.sitemap=="agency"%}
  <url>
    <loc>{{-site.url-}}{{-page.url-}}</loc>
    <lastmod>{{-page.data.updated | default(globallastmode)-}}</lastmod>
  </url>
    {%- endif -%}
  {%- endfor %}
</urlset>