---
layout: null
permalink: sitemaps/service01.xml
eleventyExcludeFromCollections: true
---
{#- No space -#}
<?xml version="1.0" encoding="UTF-8"?>
<urlset 
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  {%- for page in collections.all | sortBy("url") -%}
    {%-if page.data.sitemap=="service"%}
  <url>
    <loc>{{-site.url-}}{{-page.url-}}</loc>
    {%-if page.data.sitemapimage.loc %}
    <image:image>
      <image:loc>{{-page.data.sitemapimage.loc-}}</image:loc>
      <image:title>{{-page.data.sitemapimage.title-}}</image:title>
    </image:image>
    {%- endif %}
  </url>
    {%- endif -%}
  {%- endfor %}
</urlset>