---
layout: null
permalink: sitemaps/static.xml
eleventyExcludeFromCollections: true
---
{#- No space -#} 
{% set globallastmode %}{%- firstDayOfMonth -%}{% endset %}
{#- No space -#} 
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all | sortBy("url") -%}
    {%-if not page.data.sitemap %}
  <url>
    <loc>{{-site.url-}}{{-page.url-}}</loc>
    <lastmod>{{-page.data.updated | default(globallastmode)-}}</lastmod>
  </url>
    {%- endif -%}
  {%- endfor %}
</urlset>