/* THIS IS CUSTOM CSS */
/* -- Utility header -- */
.utility-header {
  background-color: #f5f9fa;
}
/* -- Site header * -- */
.branding .header-organization-banner a .logo-assets .logo-text .logo-dept {
  font-size: 2.5rem;
  top: -10px;
}
/* -- Banner * -- */
.header-banner {
  overflow: hidden;
  background-image: url("/images/background.svg");
  background-color: #395567;
  background-position: center !important;
  background-size: cover !important;
  display: block;
  position: relative;
}
.header-banner .lead {
  font-size: 1.45rem;
}
@media (max-width: 575px) {
  .header-primary-banner p {
    font-size: 1.9375rem;
    line-height: 2.675rem;
    padding-top: 2rem;
  }
  .header-banner .row,
  .header-banner img {
    width: auto;
  }
}

@media (max-width: 991px) {
  .header-banner .row {
    flex-direction: column;
  }
  .header-banner img {
    width: 100%;
  }
}

/* content */
.topo-lines {
  background-image: url(/images/background-lines.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* GLOBAL */
.color-primary {
  color: var(--color-p2, #046b99) !important;
}

.bg-p2-darkest {
  background-color: var(--color-p2-darkest) !important;
}

.m-t-minus-30 {
  margin-top: -2rem;
}

/* Feedback */
cagov-feedback .feedback-form {
  padding: 0 !important;
}
cagov-feedback .feedback-form,
cagov-feedback .feedback-form-label,
cagov-feedback .feedback-form-thanks {
  background: transparent !important;
  color: var(--gray-900) !important;
}

cagov-feedback .feedback-form-label {
  width: 100% !important;
  margin-top: 0 !important;
  font-size: 1.7rem !important;
}

cagov-feedback .feedback-form-button {
  border: 1px solid var(--gray-200) !important;
  border-radius: 5px !important;
}

cagov-feedback .feedback-form-button:hover,
cagov-feedback .feedback-form-button:focus {
  box-shadow: none !important;
  text-decoration: none !important;
  background: var(--gray-75) !important;
}

/* Elipsis overflow */

.service-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* disables clicks when aria-cuurent="page" */
a[aria-current="page"] {
  pointer-events: none;
}

/* ios search button white font fix */
.webkit-appearance-none {
  -webkit-appearance: none !important;
}
