/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-class-pattern */

/* THIS IS CUSTOM CSS */

/* -- Site header * -- */
header {
  /* -- Utility header -- */
  > div.utility-header {
    background-color: #f5f9fa;

    .test1,
    .test2 {
      background-color: black;
    }

   > div.flex-row {
      > div.social-media-links
        > div.official-collapsible-content
        > button.btn-official {
        border: none;
        font-size: 0.875rem;
        background: transparent;
        text-align: left;
        text-wrap: nowrap;
      }
    }
  }
}
