---
landing: Agency
pagination:
    data: state_entity_agencies
    size: 1
    alias: item
    addAllPagesToCollections : true
permalink: "agency/{{ item.AgencyName | slugify }}/"
eleventyComputed: 
  description: Agency details for "{{ item.FriendlyName }} ({{ item.Acronym }})"
  title: "{{ item.FriendlyName }} ({{ item.Acronym }})"
  eleventyNavigation:
    key: "{{ item.AgencyName | slugify }}"
    title:  "{{ item.FriendlyName }} ({{ item.Acronym }})"
    parent: Agencies
---

<div class="row p-b-lg">
  <div class="col-md-10 mx-auto">
    <h2 class="mt-lg-0">
      Agency - {{ item.FriendlyName }} ({{ item.Acronym }})
    </h2>

    {% if item.LogoUrl %}
    <img
      src="https://stateentityprofile.ca.gov/Uploads/{{item.LogoUrl}}"
      style="width:50%" />

    <br />
    {% endif %}

    <h2 class="mt-lg-0">Services</h2>
    {%- for service in state_entity_services | pluck('AgencyId',item.AgencyId)
    -%}
    <a href="/service/{{ service.ServiceName | slugify }}/"
      >{{service.ServiceName}}</a
    ><br />
    {%- endfor %}
    <hr />
    <pre>
{{ item | dump(2) }}
    </pre>
  </div>
</div>
