---
title: Agencies
landing: Agency
eleventyNavigation:
  key: Agencies
  parent: Home
---

{%- set js -%} {%- include "./agency.js" -%} {%- endset -%}
<script>
  {{- js | jsmin | safe -}}
</script>

<div class="row p-b-lg">
  <div class="col-lg-4 col-xl-3 pb-lg-5">
    <!-- Side navigation -->
    <details>
      <summary>Dropdown 1</summary>
      <ul class="list-navigation">
        <li><a href="">Link 1</a></li>
        <li><a href="">Link 2</a></li>
      </ul>
    </details>
  </div>

  <div class="col-lg-8 col-xl-9 mx-auto p-b-lg">
    <h1 class="mt-lg-0">Agencies</h1>

    <label>
      Search Agencies
      <input type="search" id="agency_search" />
    </label>

    <h2 aria-live="polite"><span id="result_count"></span> agencies</h2>

    <ul id="result_list">
      {%- for agency in state_entity_agencies.Results -%}
      <agency-row
        keywords="{{agency.AgencyName}} {{agency.FriendlyName}} {{agency.Acronym}} {{agency.AgencyTags}} {{agency.Keywords}}">
        <li>
          <a href="/agency/{{ agency.AgencyName | slugify }}/">
            {{agency.FriendlyName}}
          </a>
        </li>
      </agency-row>
      {%- endfor %}
    </ul>
  </div>
</div>
