---
landing: Agency
pagination:
    data: state_entity_agencies.Results
    size: 1
    alias: item
    addAllPagesToCollections : true
permalink: "agency/{{ item.AgencyName | slugify }}/"
eleventyComputed: 
  description: Agency details for "{{ item.AgencyName }}"
  title: "{{ item.AgencyName }}"
  eleventyNavigation:
    key: "{{ item.AgencyName | slugify }}"
    title:  "{{ item.AgencyName }}"
    parent: Agencies
---

<div class="row p-b-lg">
  <div class="col-md-10 mx-auto">
    <h2 class="mt-lg-0">Agency - {{ item.FriendlyName }}</h2>

    {% if item.LogoUrl %}
    <img
      src="https://stateentityprofile.ca.gov/Uploads/{{item.LogoUrl}}"
      style="width:50%" />

    <br />
    {% endif %}
    <pre>
{{ item | dump(2) }}
    </pre>
  </div>
</div>
