---
layout: null
permalink: null # ..\src\_data\legacy.json
# use legacy permalink to render (will loop until you stop)
eleventyExcludeFromCollections: true
---
[
  {%- for agency in state_entity.agencies | sortBy("AgencyId") %}
  {
    "name": "{{agency.FriendlyName}}",
    "target": "/departments/{{agency.AgencyId}}/",
    "legacy": "/agency/?item={{agency.FriendlyName | lower | replace(" ", "-")}}"
  },
  {%- endfor %}
  {%- for service in state_entity.services | sortBy("ServiceId") %}
  {
    "name": "{{service.ServiceName}}",
    "target": "/departments/{{service.AgencyId}}/services/{{service.ServiceId}}/",
    "legacy": "/service/?item={{service.ServiceName | lower | replace(" ", "-")}}"
  }{{"," if not loop.last}}
  {%- endfor %}
]
