---
landing: Service
description: Search for a service
title: Services
eleventyNavigation:
  key: Services
  parent: Home
---

<div class="row p-b-lg">
  <div class="col-lg-4 col-xl-3 pb-lg-5">
    <!-- Side navigation -->
    <nav class="side-navigation sticky-6">
      <ul>
        <li><a href="">Link 1</a></li>
        <li><a href="">Link 2</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-lg-8 col-xl-9 mx-auto p-b-lg">
    <h1 class="mt-lg-0">Services</h1>

    <label>
      Search Services
      <input type="search" id="searchbox" placeholder="search for services" />
    </label>

    <h2 aria-live="polite"><span id="searchcount">...</span> services found</h2>

    <cagovhome-filterlist data-inputid="searchbox" data-countid="searchcount">
      <span>
        {%- for service in state_entity.services -%}
        <span
          data-keywords="{{service.ServiceName}} {{service.ServiceType}} {{service.AgencyTags}}
            {{service.Description}} {{service.RelatedSearchTerms}}
            {{service.AgencyName}} {{agency.Acronym}} {{service.Keywords}}">
          <hr class="m-y-md" />
          <h3 class="lead font-weight-700">
            <a
              href="/agency/{{ service.AgencyId }}/service/{{ service.ServiceId }}/"
              >{{service.ServiceName}}</a
            >
          </h3>
          <p>{{service.FriendlyName}} ({{service.Acronym}})</p>
          <p>{{service.Description}}</p>
        </span>

        {%- endfor %}
      </span>
    </cagovhome-filterlist>
  </div>
</div>
