---
landing: Services
description: Search for a service
title: All services
permalink: /services/all-services-buttons.html
layout: landing.njk
eleventyNavigation:
  key: Services
  parent: Home
---

<div
  class="section-understated"
  style="background-image: url('/images/services-lineart.svg'); background-repeat:no-repeat; background-position:right;">
  <div class="container p-y-md">
    <nav aria-label="You are here" class="breadcrumbs">
      <ol>
        <li>
          <a href="/index.html" title="Home page">Home</a>
        </li>
        <li>
          <a href="/services/" title="Services landing page">Services</a>
        </li>
        <li>All services</li>
      </ol>
    </nav>
    <h1 class="m-t-0">All services</h1>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3 pb-lg-5" role="complementary">
      <!-- Side navigation -->
      <nav
        aria-labelledby="navigation-list"
        class="side-navigation sticky-6"
        id="side-navigation">
        <ul class="list-navigation">
          <li>
            <a href="/services/" id="navigation-list" class="active landing">
              All services
              <span class="sr-only">landing page</span>
            </a>
          </li>
          <li><a href="/services/services-list.html">Services list</a></li>
          <li><a href="/topics/">Topics</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-9">
      <p class="lead m-t"><span class="items-count">...</span> services</p>
      <form class="m-b-md">
        <label class="sr-only" for="searchbox">Search all services</label>
        <div class="d-flex">
          <input
            type="search"
            id="searchbox"
            placeholder="Search for a service"
            class="height-50 brd-solid-1 brd-color-light rounded-start flex-grow-1 p-l" />
          <button
            class="bg-gray-600 bg-gray-700-hover rounded-end brd-0 width-60">
            <span class="sr-only">Submit</span>
            <span
              class="ca-gov-icon-search font-size-25 color-white"
              aria-hidden="true"></span>
          </button>
        </div>
      </form>
      <h2 aria-live="polite" class="sr-only">
        <span id="searchcount">...</span>
        services found
      </h2>

      <p class="bold">
        Sort by
        <button
          class="bg-transparent border-0 color-primary color-primary-hover bold az-sort">
          A-Z<span
            class="ca-gov-icon-caret-down font-size-25 pos-rel bottom-minus-3"
            aria-hidden="true"></span>
        </button>
      </p>

      <cagovhome-filterlist
        data-inputid="searchbox"
        data-countquery="#searchcount, span.items-count"
        data-filterstoragekey="service"
        data-filterkey="ServiceId">
        <span>
          {%- for service in state_entity.services -%}
          <article data-key="{{service.ServiceId}}" class="pos-rel">
            <h2 class="lead bold m-t-0 m-b">{{service.ServiceName}}</h2>
            <p class="font-size-14 bold m-t-sm">by {{service.FriendlyName}}</p>
            <p class="service-description">{{service.Description}}</p>

            <a
              class="btn btn-outline-primary btn-lg m-r-sm"
              href="{{ service.ServiceUrl }}"
              >Launch
              <span class="sr-only">{{service.ServiceName}}</span> service</a
            >
            <a
              class="btn btn-outline-primary btn-lg"
              href="/agency/{{ service.AgencyId }}/service/{{ service.ServiceId }}/"
              >More details
              <span class="sr-only"
                >about {{service.ServiceName}} service</span
              ></a
            >
            <hr class="m-y-md" />
          </article>
          {%- endfor %}
        </span>
      </cagovhome-filterlist>
    </div>
  </div>
</div>
