---
landing: Service
description: Search for a service
title: Services
eleventyNavigation:
  key: Services
  parent: Home
---

<div class="row p-b-lg">
  <div class="col-md-10 mx-auto">
    <h1 class="mt-lg-0">Services</h1>

    <label>
      Search Services
      <input type="search" id="searchbox" placeholder="search for services" />
    </label>

    <h2 aria-live="polite"><span id="searchcount">...</span> services found</h2>

    <cagovhome-filterlist data-inputid="searchbox" data-countid="searchcount">
      <ul>
        {%- for service in state_entity.services -%}
        <li
          data-keywords="{{service.ServiceName}} {{service.ServiceType}} {{service.AgencyTags}}
            {{service.Description}} {{service.RelatedSearchTerms}}
            {{service.AgencyName}} {{service.Keywords}}">
          <a
            href="/agency/{{ service.AgencyId }}/service/{{ service.ServiceId }}/"
            >{{service.ServiceName}}</a
          >
        </li>
        {%- endfor %}
      </ul>
    </cagovhome-filterlist>
  </div>
</div>
