---
layout: null
permalink: "js/custom.min.js"
---

{% set js %} {%- include "../../src/js/index.mjs" -%} var
ca_gov_client_filter_data = {{state_entity_client_filter | dump | safe }} ; {%
endset %} {{ js | jsmin | safe }}
