---
layout: null
permalink: "js/custom.min.js"
eleventyExcludeFromCollections: true
---

{%- set js -%}
{%- include "../../src/js/polyfills.mjs" -%}
{%- include "../../src/js/index.mjs" -%}
{%- include "../../src/js/map-feature.mjs" -%}
{%- include "../../src/js/cagov-feedback.mjs" -%}
{%- include "../../src/js/googletranslate.mjs" -%}
{%- endset -%}
{{- js | jsmin | safe -}}
