---
layout: null
permalink: "js/custom.js"
---

{%- include "../../src/js/index.mjs" -%} sessionStorage.setItem("agency",{{-
state_entity_client_filter.agency | toJavascriptString | safe }});
sessionStorage.setItem("service",{{- state_entity_client_filter.service |
toJavascriptString | safe }});
