---
title: All departments
landing: Departments
layout: landing
description: A detailed view of California’s state departments.
dynamic_sidenavid: department
side_filter_data: agencies
---

<div
  class="section-understated lineart"
  style="background-image: url('/images/departments-lineart.svg'); background-repeat:no-repeat; background-position:right;">
  <div class="container p-y-md">
    {%- include "breadcrumbs.html" -%}
    <h1 class="m-t-0 color-p2">{{title}}</h1>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3 pb-lg-5 sticky-6 h-100 p-b-md swap-order">
      {%-include "side-filters.html"-%} {%-include "dynamic-sidenav.html"-%}
    </div>
    <div class="col-lg-9">
      <p class="lead m-t items-count" aria-live="polite">
        0 departments <span class="sr-only">found</span>
      </p>
      <label class="sr-only" for="searchbox">Filter departments</label>
      <div class="d-flex m-b-lg">
        <input
          type="search"
          id="searchbox"
          name="q"
          placeholder="Filter departments"
          class="height-50 brd-solid-1 brd-color-light rounded-start flex-grow-1 p-x reset-x-icon" />
      </div>

      <cagovhome-filterlist
        data-search-input-id="searchbox"
        data-result-count-query=".items-count"
        data-filter-storage-key="agency"
        data-row-filter-key="AgencyId"
        data-filter-trigger-selector='input[name="AgencyTags"]'>
        {%- for agency in state_entity.agencies -%}
        <div data-row-key="{{agency.AgencyId}}" class="pos-rel">
          <div class="d-flex">
            <div class="dep-image-wrapper">
              <img
                src="{{agency.structuredData.logo if agency.structuredData.logo else 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='}}"
                class="img-fluid"
                style="aspect-ratio: 1 / 1; object-fit: contain;"
                loading="lazy"
                alt="{{agency.FriendlyName}} logo" />
            </div>

            <div class="flex-grow-1">
              <h3 class="lead bold m-t-0 m-b">
                <a href="/departments/{{ agency.AgencyId }}/"
                  >{{service.ServiceName}} {{agency.FriendlyName}}
                  ({{agency.Acronym}})</a
                >
              </h3>
              <p class="department-description">{{agency.Description}}</p>
              {%-set topicResults=[]%}{%for topic in
              topics|sortBy("featureOrder")%}{%if topic.name in
              agency.AgencyTags%}{%set _=topicResults.push('<a
                href="/topics/'+topic.slug+'/"
                >'+topic.name+'</a
              >')%}{%endif%}{%endfor%}{%if topicResults.length%}
              <p class="font-size-14 m-t-md">
                Topics: {{topicResults.join(", ") | safe}}
              </p>
              {%-endif%}
            </div>
          </div>
        </div>

        <hr class="m-y-md" data-row-key="{{agency.AgencyId}}" />

        {%- endfor %}
      </cagovhome-filterlist>
    </div>
  </div>
</div>
