---
title: All departments
landing: Departments
layout: landing
description: A detailed view of California’s state departments.
dynamic_sidenavid: department
side_filter_data: agencies
noindex_follow: true
data_agency: true
---

<div
  class="section-understated lineart bg-s1"
  style="background: url('/images/departments-lineart.svg?v2evjhb') no-repeat right / auto;">
  <div class="container p-y-md">
    {%- include "breadcrumbs.html" -%}
    <h1 class="m-t-0 color-p2-darker">{{title}}</h1>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-lg-3 pb-lg-5 sticky-6 h-100 p-b-md">
      {%-include "dynamic-sidenav.html"-%}
    </div>
    <div class="col-lg-9">
      <h2
        class="lead m-t items-count  font-weight-500"
        aria-live="polite"
        role="region">
        0 departments <span class="sr-only">found</span>
      </h2>
      <label class="sr-only" for="searchbox">Search for a department</label>
      <div class="d-flex m-b">
        <input
          type="search"
          id="searchbox"
          name="q"
          placeholder="Search for a department"
          class="height-50 brd-solid-1 brd-color-light rounded flex-grow-1 p-x webkit-appearance-none" />
      </div>
      <div class="p-b-lg">{%-include "side-filters.html"-%}</div>

      <cagovhome-filterlist
        data-search-input-id="searchbox"
        data-result-count-query=".items-count"
        data-filter-storage-key="agency"
        data-row-filter-key="AgencyId"
        data-filter-trigger-selector='input[name="AgencyTags"]'
        role="list">
        {%- for agency in state_entity.agencies -%}
        <div data-row-key="{{agency.AgencyId}}" class="pos-rel" role="listitem">
          <div class="d-flex">
            <div class="dep-image-wrapper">
              <img
                src="{{agency.structuredData.logo if agency.structuredData.logo else 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='}}"
                class="img-fluid"
                style="aspect-ratio: 1 / 1; object-fit: contain;"
                crossorigin="anonymous"
                loading="lazy"
                alt="{{agency.FriendlyName}} logo" />
            </div>

            <div class="flex-grow-1">
              <h3 class="lead bold m-t-0 m-b">
                <a href="/departments/{{ agency.AgencyId }}/"
                  >{{service.ServiceName}} {{agency.FriendlyName}}
                  ({{agency.Acronym}})</a
                >
              </h3>
              <p class="department-description">{{agency.Description}}</p>
              {%-set topicResults=[]%}{%for topic in
              topics|sortBy("featureOrder")%}{%if topic.name in
              agency.AgencyTags%}{%set _=topicResults.push('<a
                href="/topics/'+topic.slug+'/"
                class="py-1"
                >'+topic.name+'</a
              >')%}{%endif%}{%endfor%}{%if topicResults.length%}
              <p class="font-size-14 m-t-md ">
                Topics: {{topicResults.join(", ") | safe}}
              </p>
              {%-endif%}
            </div>
          </div>
        </div>

        <hr class="m-y-md" data-row-key="{{agency.AgencyId}}" />

        {%- endfor %}
      </cagovhome-filterlist>
    </div>
  </div>
</div>
